{% extends "frontend/common.html" %}
{% block customer_vm_history_place %}
<div>
    <div style="height: 10px"></div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 absoluteCenter">
            <div class="input-group">
                <input type="text" class="form-control" id="customer" placeholder="CUSTOMER NAME">
                <span class="input-group-btn in">
                <button class="btn btn-default" type="button" onclick="search(customer)">查询</button>
                </span>
            </div>
        </div>
        <p class="lead" style="color: red; margin-bottom: 0px" id="error_msg"></p>
    </div>
    <div>
        <table id="myTable" class="table-bordered"></table>
    </div>
</div>


<script>
    function search(customer) {
        var lang = {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页 _MENU_ 项",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "bFilter": true,
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页",
                "sJump": "跳转"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }

        };
        var table = $('#myTable').DataTable({
            language: lang,
            autoWidth: true,
            stripeClasses: ["odd", "even"],
            processing: true,
            serverSide: true,
            destroy: true,
            searching: true,
            bSort:false,
            orderMulti: false,
            order: [],
            aLengthMenu: [10,15,20],
            renderer: "bootstrap",
            pagingType: "simple_numbers",
            columnDefs: [{
            }],
            ajax: function (data, callback, settings) {
                var param = {};
                param.size = data.length;
                param.page = (data.start / data.length)+1;
                param.search = data.search.value;
                param.customer = customer.value;
                $.ajax({
                    type: "GET",
                    url: '/customer_vm_search/',
                    data: param,
                    dataType: "json",
                    success: function (result) {
                        {#alert("done get");#}
                        $('#error_msg').html(result["error_msg"]);
                        setTimeout(function () {
                            var returnData = {};
                            returnData.draw = data.draw;
                            returnData.recordsTotal = result.total;
                            returnData.recordsFiltered = result.total;
                            returnData.data = result.data;
                            callback(returnData);
                        }, 200);
                    }
                });
            },
            columns: [
                { title: "id" },
                { title: "vm_name" },
                { title: "host_name" },
            ],

        });
    }


</script>
{% endblock %}