{% extends "frontend/common.html" %}
{% block vm_history_place %}
<div>
    <div style="height: 20px"></div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 absoluteCenter">
            <div class="input-group">
                <input class="form-control" type="text" id="vm_name" placeholder="VM NAME">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="search(vm_name)">查询</button>
                </span>
            </div>
        </div>
        <p class="lead" style="color: red; margin-bottom: 0px" id="error_msg"></p>
    </div>
    <hr>
    <div id="table_div" align="center">
        <p class="lead text-left">历史位置：</p>
        <table>
            <tbody>
            <tr>
                <td width="30px">1.</td>
                <td><input class="col-lg-11" type="text" id="place1" readonly></td>
                <td width="30px">2.</td>
                <td><input class="col-lg-11" type="text" id="place2" readonly></td>
                <td width="30px">3.</td>
                <td><input class="col-lg-11" type="text" id="place3" readonly></td>
                <td width="30px">4.</td>
                <td><input class="col-lg-11" type="text" id="place4" readonly></td>
                <td width="30px">5.</td>
                <td><input class="col-lg-11" type="text" id="place5" readonly></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    function search(vm_name) {
        $.ajax({
            type: 'POST',
            url: '/vm_history_search/',
            data: add_csrf_token({"vm_name": vm_name.value}),
            statusCode:{
                200: function (data){
                    $('#error_msg').html(data["msg"]);
                    $("#place1").val(data["vm_place"]["place1"]);
                    $("#place2").val(data["vm_place"]["place2"]);
                    $("#place3").val(data["vm_place"]["place3"]);
                    $("#place4").val(data["vm_place"]["place4"]);
                    $("#place5").val(data["vm_place"]["place5"]);
                }
            }
        })
    }
</script>
{% endblock %}


